<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<link rel="icon" href="/images/logo-bhxh.svg">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Thanh toán</title>
      	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	<style type="text/css">
.center {
	position: relative;
    margin-left: auto;
    margin-right: auto;
  /* width: 50%; */
  
  /* padding: 10px; */
}
.btn-width{
	width:198px;
}
.btn-position{
	margin-right:0
}

	</style>
</head>

<body class="sb-nav-fixed" style="height: auto">

 <div id="layoutSidenav_content">
    <div class="container my-5" style="margin-top: 3.5rem !important">
    			
        <h3>Thông tin thanh toán</h3>
   		<div class="card">
            <div class="card-body">
            <div class="col-md-10 center">
            <form  method="post" th:action="@{/pay}" th:object="${payPal}" id="frmCreateOrder" >
            <div style="margin-left: 25%;margin-right: 25%" >
            			<label>Phương thức thanh toán</label>
            			<input class="form-control" value="PayPal" readonly="readonly" style="width: 100%;margin-bottom: 1rem">
            			<label>Số tiền</label>
                		<input class="form-control" th:field="*{price}"  type="number"  
                			style="width: 100%;margin-bottom: 1rem;" required="required" 
                			id="amount"  name="amount" readonly="readonly">
						<label>Nội dung thanh toán</label>
                		<input class="form-control"type="text" th:field="*{description}" 
                			style="width: 100%;margin-bottom: 1rem" required="required" readonly="readonly">
                </div>			
				<br>	
				    <div class="col-md-6 center">
                       <div class=" form-group  center ">
							<button type="submit" class="btn btn-primary" style="width: 49.3%" id="btncheck">Thanh toán</button>
							<a th:href="@{/}">
								<button type="button" class="btn btn-secondary" style="width: 49.3%">Quay lại</button>
							</a>	
					  </div>
					</div>
				
				</form>
            </div>
            </div>
            </div>
        </div>   
        
    </div>
</body>

</html>